<main>
	<!-- ============================================================= SECTION – POPULAR POSTS ============================================================= -->
	<section id="popular-posts" class="light-bg">
		<div class="container inner-top-md">
			<div class="row">
				<div class="col-sm-12">
					<div id="accordion" class="panel-group">
						<div class="panel panel-default">			  
							
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#content">
										<span>인기주점</span>
									</a>
								</h4>
							</div><!-- /.panel-heading -->
							<div id="content" class="panel-collapse">
								<div class="panel-body">
									<div id="owl-popular-posts" class="owl-carousel owl-item-gap-sm">
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Vintage Bicycles</h4>
															<p>Interactive</p>
														</div><!-- /.info -->
													</figcaption>
													<%= image_tag "3.png"%>
												</figure>
											</a>
										</div><!-- /.item -->
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Simpli Nota</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<%= image_tag "3.png"%>
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Vinyl Records</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<%= image_tag "3.png"%>
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Astor & Yancy</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<%= image_tag "3.png"%>
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Signwall</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<%= image_tag "3.png"%>
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Tri Fold Brochure</h4>
															<p>Print</p>
														</div><!-- /.info -->
													</figcaption>
													<%= image_tag "3.png"%>
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Embroidered</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<%= image_tag "3.png"%>
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>El Corcho</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<%= image_tag "3.png"%>
												</figure>
											</a>
										</div><!-- /.item -->
										
									</div><!-- /.owl-carousel -->
								</div><!-- /.panel-body -->
							</div><!-- /.content -->
							
						</div><!-- /.panel -->
					</div><!-- /.accordion -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
	
	<!-- ============================================================= SECTION – POPULAR POSTS : END ============================================================= -->
	
	
	<!-- ============================================================= SECTION – BLOG ============================================================= -->
	
	<section id="blog" class="light-bg">
		<div class="container inner-top-sm inner-bottom">
			
			<div class="row inner-bottom-xs">
				<div class="col-sm-12">	
					<ul class="format-filter text-center">
						<li><a class="active" href="#" data-filter="*" title="All" data-rel="tooltip" data-placement="top">all</a></li>
						<li><a href="#" data-filter=".format-standard" title="Standard" data-rel="tooltip" data-placement="top">교육대</a></li>
						<li><a href="#" data-filter=".format-image" title="Image" data-rel="tooltip" data-placement="top">컴과</a></li>
						<li><a href="#" data-filter=".format-gallery" title="Gallery" data-rel="tooltip" data-placement="top">경영대</a></li>
						<li><a href="#" data-filter=".format-video" title="Video" data-rel="tooltip" data-placement="top">경제</a></li>
						<li><a href="#" data-filter=".format-audio" title="Audio" data-rel="tooltip" data-placement="top">Audio</a></li>
						<li><a href="#" data-filter=".format-quote" title="Quote" data-rel="tooltip" data-placement="top">Quote</a></li>
						<li><a href="#" data-filter=".format-link" title="Link" data-rel="tooltip" data-placement="top">Link</a></li>
					</ul><!-- /.format-filter -->
				</div><!-- /.col -->
			</div><!-- /.row -->
			 
			<div class="row">
				<div class="col-sm-12">
					
					<div class="grid-blog col-3 no-sidebar">
						
						<div class="posts">
							
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>




						</div><!-- /.posts -->
					</div><!-- /.grid-blog -->
					
					<ul class="pagination">
						<li><a href="#">Prev</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">Next</a></li>
					</ul><!-- /.pagination --> 
					
				</div><!-- /.col -->
			</div><!-- /.row -->
			
		</div><!-- /.container -->
	</section>
	
	<!-- ============================================================= SECTION – BLOG : END ============================================================= -->
	
</main>