<main>
	<!-- ============================================================= SECTION – POPULAR POSTS ============================================================= -->
	<section id="popular-posts" class="light-bg">
		<div class="container">
		<ul class="nav nav-tabs ">
			<li><a  href="/home/booth" >25일</a></li>
			
			<li class="active"><a href="/home/booth2" >26일</a></li>
			
		</ul>
	</div>
		<div class="container inner-top-md">
			<div class="row">
				<div class="col-sm-12">
					<div id="accordion" class="panel-group">
						<div class="panel panel-default">			  

							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#content">
										<span>인기주점</span>
									</a>
								</h4>
							</div><!-- /.panel-heading -->
							<div id="content" class="panel-collapse">
								<div class="panel-body">
									<div id="owl-popular-posts" class="owl-carousel owl-item-gap-sm">
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Vintage Bicycles</h4>
															<p>Interactive</p>
														</div><!-- /.info -->
													</figcaption>
													<%= image_tag "3.png"%>
												</figure>
											</a>
										</div><!-- /.item -->
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Simpli Nota</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<%= image_tag "3.png"%>
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Vinyl Records</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<%= image_tag "3.png"%>
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Astor & Yancy</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<%= image_tag "3.png"%>
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Signwall</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<%= image_tag "3.png"%>
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Tri Fold Brochure</h4>
															<p>Print</p>
														</div><!-- /.info -->
													</figcaption>
													<%= image_tag "3.png"%>
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Embroidered</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<%= image_tag "3.png"%>
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="blog-post.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>El Corcho</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<%= image_tag "3.png"%>
												</figure>
											</a>
										</div><!-- /.item -->
										
									</div><!-- /.owl-carousel -->
								</div><!-- /.panel-body -->
							</div><!-- /.content -->
							
						</div><!-- /.panel -->
					</div><!-- /.accordion -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
	
	<!-- ============================================================= SECTION – POPULAR POSTS : END ============================================================= -->
	
	
	<!-- ============================================================= SECTION – BLOG ============================================================= -->
	
	<section id="blog" class="light-bg">
		<div class="container inner-top-sm inner-bottom">
			
			<div class="row inner-bottom-xs">
				<div class="col-sm-12">	
			    <%=image_tag "26_booth.jpg", style:"width:inherit"%>

					<ul class="format-filter text-center">
						<li><a class="active" href="#" data-filter="*" title="전부보기" data-rel="tooltip" data-placement="top">all |</a></li>

						<% @unit_jujeom_26.each do |jj| %>

						<li><a href="#" data-filter=".format-<%=jj.unit%>" title="<%=jj.unit%>" data-rel="tooltip" data-placement="top"><%=jj.unit%> |</a></li>
						
						<%end%>
					</ul><!-- /.format-filter -->
				</div><!-- /.col -->
			</div><!-- /.row -->
			 
			<div class="row">
				<div class="col-sm-12">
					
					<div class="grid-blog col-3 no-sidebar">
						
						<div class="posts">
							<% @jujeom_26.each do |j| %>

							<div class="post format-<%=j.unit%>">
								
								<div class="post-content">
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html"><%=j.name%></a>
									</h2>
									
									<ul class="meta">
										<li class="date">주점 날짜 : <%=j.day%></li>
										<li class="categories"><a href="#">부스위치 : <%=j.location%></a></li>
										<li class="comments"><a href="#"><%=j.host%></a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>주점소개</p>
									
									<a href="#" class="btn">둘러보기</a>
								</div><!-- /.post-content --> 
								
							</div>
							<% end %>




						</div><!-- /.posts -->
					</div><!-- /.grid-blog -->
					<!-- /.pagination --> 
					
				</div><!-- /.col -->
			</div><!-- /.row -->
			
		</div><!-- /.container -->
	</section>
	
	<!-- ============================================================= SECTION – BLOG : END ============================================================= -->
	
</main>