<main>
	
	<!-- ============================================================= SECTION – BLOG ============================================================= -->
	<section id="blog" class="light-bg">

	<div class="container">
		<ul class="nav nav-tabs ">
			<li class="active"><a  href="/home/event">25일</a></li>
			
			<li><a href="/home/event2">26일</a></li>
			
		</ul>
	</div>
	
		<div class="container inner-top-sm inner-bottom">
			
			<div class="row inner-bottom-xs">
				<div class="col-sm-12">	
				<%=image_tag "25_back.jpg", style:"width:inherit"%>
					<ul class="format-filter text-center">
						<li><a class="active" href="#" data-filter="*" title="전부보기" data-rel="tooltip" data-placement="top">all |</a></li>

						<% @unit_back_25.each do |jj| %>

						<li><a href="#" data-filter=".format-<%=jj.unit%>" title="<%=jj.unit%>" data-rel="tooltip" data-placement="top"><%=jj.unit%> |</a></li>
						
						<%end%>
					</ul><!-- /.format-filter -->
				</div><!-- /.col -->
			</div><!-- /.row -->
			
			
	<div class="container">   

			<div class="row">
				<div class="col-sm-12">
					
					<div class="grid-blog col-3 no-sidebar">
						
						<div class="posts">
							<% @back_25.each do |j| %>

							<div class="post format-<%=j.unit%>">

								
								<div class="post-content">
									<figure class="icon-overlay icn-link post-media">
										<a href="/home/event_spec/<%=j.id%>"><%=image_tag j.img_url%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="/home/event_spec/<%=j.id%>"><%=j.name%></a>
									</h2>
									
									<ul class="meta">
										<li class="date">행사 날짜 : <%=j.day%></li>
										<li class="categories"><a href="#">행사위치 : <%=j.location%></a></li>
										<li class="comments"><a href="#"><%=j.host%></a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>행사소개</p>
									
									<a href="/home/event_spec/<%=j.id%>" class="btn">둘러보기</a>
								</div><!-- /.post-content --> 
								
							</div>
							<% end %>




						</div><!-- /.posts -->
					</div><!-- /.grid-blog -->
					
				</div><!-- /.col -->
			</div><!-- /.row -->
			
		</div><!-- /.container -->

	
	</section>
	
	<!-- ============================================================= SECTION – BLOG : END ============================================================= -->
	
</main>