<main>
	
	<!-- ============================================================= SECTION – BLOG ============================================================= -->
	
	<section id="blog" class="light-bg">
		<div class="container inner-top-sm inner-bottom">
			
			<div class="row inner-bottom-xs">
				
				
			</div><!-- /.row -->
			
			
	<div class="container">   
	<ul class="nav nav-tabs">
      	<li class="active"><a  href="#25" data-toggle="tab">25일</a></li>
      	
      	<li><a href="#26" data-toggle="tab">26일</a></li>
   
	</ul>
	<div class="tab-content ">
      <div class="tab-pane active" id="25">
         <div class="container col-xs-offset-3 col-xs-6" style="margin-top: 50px;">
			<!--25일 내용-->
			
			
			
			
         </div>
      </div>
      
      <div class="tab-pane" id="26">
         <div class="container col-xs-offset-3 col-xs-6" style="margin-top: 50px;">
			<!--26일 내용-->     
			
			
			
			
	      </div>
	   </div>
	</div>
			 
			 
			 
			 
			 
			<div class="row">
				<div class="col-sm-12">
					
					<div class="grid-blog col-3 no-sidebar">
						
						<div class="posts">
							
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="/home/event_spec"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-gallery">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-gallery">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>
							<div class="post format-image">
								
								<div class="post-content">
									
									<figure class="icon-overlay icn-link post-media">
										<a href="blog-post.html"><%=image_tag "3.png"%></a>
									</figure><!-- /.post-media -->
									
									<h2 class="post-title">
										<a href="blog-post.html">The girl and the summerlight</a>
									</h2>
									
									<ul class="meta">
										<li class="date">May 10, 2015</li>
										<li class="categories"><a href="#">Photography</a></li>
										<li class="comments"><a href="#">63</a></li>
										<li class="likes"><a href="#">114</a></li>
									</ul><!-- /.meta -->
									
									<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quia sitiorem restem non restibusaes es modis.</p>
									
									<a href="blog-post.html" class="btn">Read more</a>
									
								</div><!-- /.post-content --> 
								
							</div>




						</div><!-- /.posts -->
					</div><!-- /.grid-blog -->
					

					<center>
					<ul class="pagination">
						<li><a href="#">Prev</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">Next</a></li>
					</ul><!-- /.pagination --> 
					</center>
					
					
					
				</div><!-- /.col -->
			</div><!-- /.row -->
			
		</div><!-- /.container -->
	</section>
	
	<!-- ============================================================= SECTION – BLOG : END ============================================================= -->
	
</main>