<main>
    <div class="container inner-top-sm inner-bottom classic-blog no-sidebar">
        <div class="col-xs-4 partner">
            <%=image_tag "dasarang.jpg"%>
            <p>다사랑치킨</p>
        </div>
        <div class="col-xs-4 partner">
            <%=image_tag "sosin.jpg"%>
            <p>소신이쏘</p>
        </div>
        <div class="col-xs-4 partner">
            <%=image_tag "haru.jpg"%>
            <p>하루 돈가스</p>
        </div>
        <div class="col-xs-4 partner">
            <%=image_tag "yeonkyung.jpg"%>
            <p>연경</p>
        </div>
        <div class="col-xs-4 partner">
            <%=image_tag "cheeze.jpg"%>
            <p>치즈를 사랑한 찜닭</p>
        </div>
        <div class="col-xs-4 partner">
            <%=image_tag "chicken.jpg"%>
            <p>크리스터치킨</p>
        </div>
        <div class="col-xs-4 partner">
            <%=image_tag "gui.jpg"%>
            <p>구이마을</p>
        </div>
          <div class="col-xs-4 partner">
            <%=image_tag "gongbok.jpg"%>
            <p>공복</p>
        </div>
    </div>
</main>