<!DOCTYPE html>
<html>
<head>
  <title>대동제 X 연대멋사</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
<!-- Optional theme -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

</head>

<body data-aos-easing="ease-out-cubic" data-aos-duration="500" data-aos-delay="0">
    <header>
		<div class="navbar">
			<div class="navbar-header">
				<div class="container">
					
					
					
					<!-- ============================================================= LOGO MOBILE ============================================================= -->
					
					<a class="navbar-brand" href="index.html"><%= image_tag "12.png", class:"logo", alt:""%></a>
					
					<!-- ============================================================= LOGO MOBILE : END ============================================================= -->
					
					<a class="navbar-toggle btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
					
				</div><!-- /.container -->
			</div><!-- /.navbar-header -->

			<div class="yamm">
				<div class="navbar-collapse collapse">
					<div class="container">
						<!-- ============================================================= LOGO ============================================================= -->
						<a class="navbar-brand" href="index.html"><%= image_tag "12.png", class:"logo", alt:""%></a>
						<!-- ============================================================= LOGO : END ============================================================= -->
						<!-- ============================================================= MAIN NAVIGATION ============================================================= -->
						<ul class="nav navbar-nav">
							
							<li class="dropdown">
								<a href="/home/index">Home</a>
							</li><!-- /.dropdown -->
							<li class="dropdown">
								<a href="/home/booth">부스</a>
							</li><!-- /.dropdown -->
							<li class="dropdown">
								<a href="/home/performance">공연</a>
							</li><!-- /.dropdown -->
							<li class="dropdown">
								<a href="/home/event">행사</a>
							</li><!-- /.dropdown -->
							<li class="dropdown">
								<a href="/home/ourevent" >만든이들</a>
								<!-- /.dropdown-menu -->
							</li>
							<li class="dropdown">
								<a href="/home/event">파트너</a>
							</li><!-- /.dropdown -->
							<li class="dropdown">
								<a href="/home/dbupload" class="dropdown-toggle" data-toggle="dropdown">디비올리기</a>
							</li><!-- /.dropdown -->
						</ul><!-- /.nav -->
						<!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->
					</div><!-- /.container -->
				</div><!-- /.navbar-collapse -->
			</div><!-- /.yamm -->
		</div><!-- /.navbar -->
	</header>
<%= yield %>
  <footer class="dark-bg">
		<div class="footer-bottom">
			<div class="container inner">
				<p class="pull-left">© 2017 Likelion Yonsei. All rights reserved.</p>
				<ul class="footer-menu pull-right">
					<li><a href="#">Home</a></li>
					<li><a href="#">Booth</a></li>
					<li><a href="#">Show</a></li>
					<li><a href="#">Event</a></li>
					<li><a href="#">About us</a></li>
				</ul><!-- .footer-menu -->
			</div><!-- .container -->
		</div><!-- .footer-bottom -->
	</footer>
</body>
</html>
