<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
<!-- Optional theme -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

</head>

<body data-aos-easing="ease-out-cubic" data-aos-duration="500" data-aos-delay="0">
    <header>
		<div class="navbar">
			<div class="navbar-header">
				<div class="container">
					
					
					
					<!-- ============================================================= LOGO MOBILE ============================================================= -->
					
					<a class="navbar-brand" href="index.html"><%= image_tag "12.png", class:"logo", alt:""%></a>
					
					<!-- ============================================================= LOGO MOBILE : END ============================================================= -->
					
					<a class="navbar-toggle btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
					
				</div><!-- /.container -->
			</div><!-- /.navbar-header -->

			<div class="yamm">
				<div class="navbar-collapse collapse">
					<div class="container">
						<!-- ============================================================= LOGO ============================================================= -->
						<a class="navbar-brand" href="index.html"><%= image_tag "12.png", class:"logo", alt:""%></a>
						<!-- ============================================================= LOGO : END ============================================================= -->
						<!-- ============================================================= MAIN NAVIGATION ============================================================= -->
						<ul class="nav navbar-nav">
							
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
							</li><!-- /.dropdown -->
							
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">부스</a>
								<ul class="dropdown-menu">
									<li><a href="#">25일</a></li>
									<li><a href="#">26일</a></li>
									<li><a href="#">지도</a></li>
								</ul><!-- /.dropdown-menu -->
							</li><!-- /.dropdown -->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">공연</a>
								<ul class="dropdown-menu">
									<li><a href="#">25일</a></li>
									<li><a href="#">26일</a></li>
									<li><a href="#">지도</a></li>
								</ul><!-- /.dropdown-menu -->
							</li><!-- /.dropdown -->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">행사</a>
								<ul class="dropdown-menu">
									<li><a href="#">25일</a></li>
									<li><a href="#">26일</a></li>
									<li><a href="#">지도</a></li>
								</ul><!-- /.dropdown-menu -->
							</li><!-- /.dropdown -->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">이벤트</a>
								<ul class="dropdown-menu">
									<li><a href="#">25일</a></li>
									<li><a href="#">26일</a></li>
									<li><a href="#">지도</a></li>
								</ul><!-- /.dropdown-menu -->
							</li><!-- /.dropdown -->
						</ul><!-- /.nav -->
						<!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->
					</div><!-- /.container -->
				</div><!-- /.navbar-collapse -->
			</div><!-- /.yamm -->
		</div><!-- /.navbar -->
	</header>
<%= yield %>
  <footer class="dark-bg">
		<div class="footer-bottom">
			<div class="container inner">
				<p class="pull-left">© 2017 Likelion Yonsei. All rights reserved.</p>
				<ul class="footer-menu pull-right">
					<li><a href="index.html">Home</a></li>
					<li><a href="portfolio.html">Portfolio</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="services.html">Services</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul><!-- .footer-menu -->
			</div><!-- .container -->
		</div><!-- .footer-bottom -->
	</footer>
</body>
</html>
